<html manifest="/todo.appcache">
<head>
    <meta charSet="utf-8"/>
    <title>Swarm+React • TodoMVC</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/add.css"/>
</head>
<body>
<div id='todoapp'>
    <%=appView%>
</div>
    <span className='help'>
        Up/Down: change item,
        Tab: child list,
        Esc: parent list,
        Insert: toggle item,
        Enter/Numpad plus: new item,
        Numpad minus: delete item
    </span>
<script src="/dist/react.min.js"></script>
<script src="/dist/TodoApp.app.js"></script>
<script src="/fake_auth_init.js"></script>
</body>
</html>
