<html manifest="/todo.appcache">
<head>
    <meta charset="utf-8"/>
    <title>Swarm+React • TodoMVC</title>
    <style>
        $CSS
    </style>
</head>
<body>
    <div id='todoapp'>
        $VIEW
    </div>
    <span class='help'>
        Up/Down: change item,
        Tab: child list,
        Esc: parent list,
        Insert: toggle item,
        Enter/Numpad plus: new item,
        Numpad minus: delete item
    </span>
    <script src="$REACT"></script>
    <script src="/dist/TodoApp.app.js"></script>
    <script src="/fake_auth_init.js"></script>
</body>
</html>
